{% extends "base.html.twig" %}

{% set NAVBAR_CLASS = "navbar-dark bg-dark" %}
{% set NAVBAR_BRAND_HREF = path('root') %}

{% block NAVBAR_COLLAPSE %}
    {% include 'FrontOffice/_partials/menu.html.twig' %}

    <ul class="navbar-nav d-flex">
        <li class="nav-item"><a class="btn btn-primary btn-sm" href="{{ path('adminoffice.dashboard.index') }}">Administration</a></li>
    </ul>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% block sub_menu_title_href '' %}">{% block sub_menu_title '' %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% set activeRoute = app.request.attributes.get('_route') %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">{% block sub_menu_left '' %}</ul>
                <ul class="navbar-nav d-flex">
                    {% block sub_menu_right '' %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pt-4">
        {% block content '' %}
    </div>
{% endblock %}