{% extends "base.html.twig" %}

{% block NAVBAR_COLLAPSE %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('frontoffice.dashboard.index') }}">Dashboard</a>
        </li>
    </ul>
    <ul class="navbar-nav d-flex">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('backoffice.dashboard.index') }}">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('adminoffice.dashboard.index') }}">Manage</a>
        </li>
    </ul>
{% endblock %}