{% extends "AdminOffice/base.html.twig" %}

{% block sub_menu_title_href path('adminoffice.authentication.provider.ldap.index') %}
{% block sub_menu_title 'AdminOffice/Authentication/Provider/LDAPController::index' %}
{% block sub_menu_right %}
    <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Configuration</a></li>
    <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Test LDAP</a></li>
{% endblock %}

{% block content %}
{% endblock %}