.btn-outline-provider-facebook {
  border-color: #3b5998!important;
  color: #3b5998!important;
  &:hover {
    background-color: #3b5998!important;
    color: #FFFFFF!important;
  }
}

.btn-outline-provider-github {
  border-color: #24292f!important;
  color: #24292f!important;
  &:hover {
    background-color: #24292f!important;
    color: #FFFFFF!important;
  }
}

.btn-outline-provider-google {
  border-color: #4285f4!important;
  color: #4285f4!important;
  &:hover {
    background-color: #4285f4!important;
    color: #FFFFFF!important;
  }
}

.btn-outline-provider-instagram {
  border-color: #7232bd!important;
  color: #7232bd!important;
  &:hover {
    background-color: #7232bd!important;
    color: #FFFFFF!important;
  }
}

.btn-outline-provider-linkedin {
  border-color: #0a66c2!important;
  color: #0a66c2!important;
  &:hover {
    background-color: #0a66c2!important;
    color: #FFFFFF!important;
  }
}

.btn-outline-provider-microsoft {
  border-color: #f35022!important;
  color: #f35022!important;
  &:hover {
    background-color: #f35022!important;
    color: #FFFFFF!important;
  }
}