{% extends "base.html.twig" %}

{% set NAVBAR_CLASS = "navbar-dark bg-black" %}

{% set NAVBAR_BRAND_HREF = path('root') %}
{% block NAVBAR_BRAND %}
    {{ parent() }} - BackOffice
{% endblock %}

{% block NAVBAR_COLLAPSE %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('backoffice.dashboard.index') }}">Dashboard</a>
        </li>
    </ul>
{% endblock %}