<div class="d-flex flex-stack mb-8">
    <div class="me-5">
        <label class="fs-6 fw-bold {% if form.vars.required == "required" %}required{% endif %}">{{ form.vars.label | trans([], 'forms') }}</label>
        {% if form.vars.help %}
            <div class="fs-7 fw-bold text-gray-400">{{ form.vars.help | trans([], 'forms') }}</div>
        {% endif %}
        {% if not form.vars.valid %}
            {% for e in form.vars.errors %}
                <span class="form-text text-danger">{{ e.message | trans([], 'forms') }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <label class="form-check form-switch form-check-custom form-check-solid">
        {{ form_widget(form, {'attr': {'class': 'form-check-input' }}) }}
    </label>
</div>