name: Deploy on development server
on:
  push:
    branches:
      - develop
jobs:
  init:
    runs-on: [development]
    steps:
      - name: Check directory exist
        id: check-directory
        continue-on-error: true
        run: |
          cd ./dev/
          echo ::set-output name=exist::true
      - name: Update exist project
        if: steps.check-directory.outputs.exist == 'true'
        run: |
          cd ./dev/
          git checkout master
          git add .
          git reset --hard
          git fetch origin --tags
          git pull
      - name: Deploy new project
        if: steps.check-directory.outputs.exist != 'true'
        run: |
          git clone git@github.com:tchevalleraud/symfony-docker-project.git
          mv symfony-docker-project/ dev/
          cd ./dev/
          git checkout master
      - name: Update environment
        run: |
          rm -f ./dev/env/.env.dev.github
          touch ./dev/env/.env.dev.github
          echo "APP_SECRET=${{ secrets.DEV_APP_SECRET }}" >> ./dev/env/.env.dev.github
          echo "DOCKER_DATABASE_PASSWORD=${{ secrets.DEV_DOCKER_DATABASE_PASSWORD }}" >> ./dev/env/.env.dev.github
          echo "DOCKER_MINIO_SECRET=${{ secrets.DEV_DOCKER_MINIO_SECRET}}" >> ./dev/env/.env.dev.github
          cd ./dev/
          make env/dev
  build:
    runs-on: [development]
    needs: [init]
    steps:
      - name: Build docker image
        run: |
          cd ./dev/
          make docker-build
      - name: Build dependancies
        run: |
          cd ./dev/
          make vendor/autoload.php
          make public/assets
      - name: Build swagger documentation
        run: |
          cd ./dev/
          make swagger
      - name: Build RSA Certificate
        run: |
          cd ./dev/
          openssl genrsa -out ./app/config/jwt/private_key.pem 4096
          openssl rsa -pubout -in ./app/config/jwt/private_key.pem -out ./app/config/jwt/public_key.pem
  deploy:
    runs-on: [development]
    needs: [build]
    steps:
      - name: Start docker environment
        run: |
          cd ./dev/
          make server-start
          sleep 60
          make server-restart
          sleep 30
      - name: Database deployment
        run: |
          cd ./dev/
          make doctrine/database/create
      - name: Cache clear
        run: |
          cd ./dev/
          make cache/clear