name: Deploy on production server
on:
  push:
    branches:
      - master
jobs:
  init:
    runs-on: [production]
    steps:
      - name: Check directory exist
        id: check-directory
        continue-on-error: true
        run: |
          cd ./prod/
          echo ::set-output name=exist::true
      - name: Update exist project
        if: steps.check-directory.outputs.exist == 'true'
        run: |
          cd ./prod/
          git checkout master
          git add .
          git reset --hard
          git fetch origin --tags
          git pull
      - name: Deploy new project
        if: steps.check-directory.outputs.exist != 'true'
        run: |
          git clone git@github.com:tchevalleraud/symfony-docker-project.git
          mv symfony-docker-project/ prod/
          cd ./prod/
          git checkout master
      - name: Update environment
        run: |
          rm -f ./prod/env/.env.prod.github
          touch ./prod/env/.env.prod.github
          echo "APP_SECRET=${{ secrets.PROD_APP_SECRET }}" >> ./prod/env/.env.prod.github
          echo "DOCKER_DATABASE_PASSWORD=${{ secrets.PROD_DOCKER_DATABASE_PASSWORD }}" >> ./prod/env/.env.prod.github
          echo "DOCKER_MINIO_SECRET=${{ secrets.PROD_DOCKER_MINIO_SECRET}}" >> ./prod/env/.env.prod.github